body{
    background-color:#010326;
}

.central {
    background-color: white;
    border-radius: 1%;
    padding-top: 2px;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para desktop */
@media (min-width: 768px) {
    .central {
        width: 65%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Estilo para mobile */
@media (max-width: 767px) {
    .central {
        width: 95%;
        padding-left: 2px;
        padding-right: 2px;
    }
}

.dashboard {
    background-color: white;
    border-radius: 1%;
    padding-top: 2px;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para desktop */
@media (min-width: 768px) {
    .dashboard {
        width: 60%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Estilo para mobile */
@media (max-width: 767px) {
    .dashboard {
        width: 95%;
        padding-left: 2px;
        padding-right: 2px;
    }
}


.cards{
    margin: 0%;
}

.titulo{
    margin-top: 15px;
}

.shadow{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.fixed-table-header {
    position: relative;
}

.fixed-table-header thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40;
    color: #fff;
}